@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: roboto;
}

.header {
  position: sticky;
  top: 0;
  background: white;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.left img {
  width: 100px;
  height: 60px;
}

nav {
  font-size: 15px;
}
.container {
  padding: 0 15vw;
}

nav ul li {
  list-style: none;
  padding: 0 12px;
}

.section1 {
  padding-top: 10px;
  background: #f2f2f2;
}

.search {
  width: 250px;
  padding: 5px 15px;
  border: 0.2px solid grey;
  background: #f7f8fd;
  border-radius: 5px;
}


.banner{
  width: 69vw;
  margin: 10px 0;
}

.itemImg{
  width: 9vw;
  margin: 3px 3px
}

footer{
  padding: 23px;
  text-align: center;
   
}